mixin fors(p, cl, cl_2)
                .for_list_container(class= cl_2)
                    .for_list_img(class= cl)
                    .for_list_reason
                        p= p
section#for
    .container
        h3 Это обучение необходимо Вам, если:
        .for_container.for_container_first
            img(src="img/pic_1.png", alt="Картинка 1").for_img
            .for_list
                +fors('Ожидания, возлагаемые на партнера, и реальные отношения с ним всегда кардинально противоположны', 'for_list_img_first')
                +fors('Испытываете кризис в отношениях, грозящий перерасти в окончательный разрыв', 'for_list_img_second')
                +fors('Сомневаетесь в своем партнере и не можете принять решение - ваш это “вариант” или не стоит тратить время “впустую”', 'for_list_img_third')
        .for_container.for_container_second
            img(src="img/pic_2.png", alt="Картинка 2").for_img
            .for_list
                +fors('Постоянно наступаете на одни и те же грабли в отношениях и ходите по кругу, не имея возможности обрести счастье', 'for_list_img_fourth')
                +fors('Давно нет отношений и боитесь вступать в новые, опасаясь повторения горького опыта, но мечтаете о счастье и гармонии', 'for_list_img_fifth')
                +fors('Семейная лодка разбилась о рифы быта, и вы тщетно пытаетесь кинуть друг другу спасательный круг - то недолет, то перелет…', 'for_list_img_sixth', 'for_list_container_last')