section#main
    .container
        img(src="img/small_ball.png", alt="Маленький шарик-декор")#small_ball
        img(src="img/big_ball.png", alt="Большой шарик-декор")#big_ball
        img(src="img/janna.png", alt="Жанна Абрамова")#janna
        .titles
            .pre
                span.like_btn.like_btn_first Бесплатный
                | онлайн тренинг-практикум  по выстраиванию качественных отношений
            h1 
                span «
                | АНАТОМИЯ  ОТНОШЕНИЙ
                span »
            h2 Что важно делать для того, чтобы обрести вторую 
                br 
                | половинку, и чтобы отношения не разрушались, а укреплялись!
            p.pre.author Автор: 
                span.like_btn Жанна Абрамова
            button.button(data-toggle="modal" data-target="#myModalForm") ПОЛУЧИТЬ ОБУЧЕНИЕ БЕСПЛАТНО