.modal.fade(tabindex="-1" role="dialog")#myModalForm
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					form#modalForm(action="https://aleksandrkudryashov1.autoweboffice.ru/?r=personal/newsletter/sub/add&id=3568&lg=ru&Contact[id_newsletter]=411" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target="_blank").form_newsletter.form_modal
						h4.infront Запишись сейчас  и получи бонус!
						p.form_bonus.form_bonus_after.infront_submit.hide
						p.form_bonus.infront «Всегда удачная дорога с Руной ПУТЬ»
						.email-block
							input( type="hidden" value="1" name="required_fields[email]")
							input(class="mail" name="Contact[email]" type="text" placeholder="Ваш email")
						button(type="submit").button.button_mail Записаться
						p.alert_message
						<!--Обязательный параметр. Не удалять и не изменять!-->
						input(type="hidden" value="411" name="Contact[id_newsletter]")
						<!--API код канала рекламы-->
						input(type="hidden" value="Тэсс Русские Руны" name="Contact[id_advertising_channel_page]")
						.checking
							input(type="checkbox" id="check" checked).check
							label(for="check").check_label Согласен/на на обработку 
								a(href="javascript:void(0);")(data-toggle="modal" data-target="#myPolitics")  персональных данных
								|  по 152 - Ф3
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
script(src="js/jquery-2.1.1.min.js")
script(src="js/bootstrap.min.js")
script(src="js/scripts.js")
script(src="https://yastatic.net/browser-updater/v1/script.js")
script
	| var yaBrowserUpdater = new ya.browserUpdater.init({"lang": "ru", "browsers": {"yabrowser": "15.10", "chrome": "52", "ie": "10", "opera": "40", "safari": "8", "fx": "47", "iron": "35", "flock": "Infinity", "palemoon": "25", "camino": "Infinity", "maxthon": "4.5", "seamonkey": "2.3", "theme": "blue"}});