@media screen and (min-width 2400px)
    .container
        width: 1400px
    .pre
        font-size: 20px
        max-width 515px
    h2
    .begin_date
        font-size: 22px
    .button
        font-size: 19px
        width: 425px
    #small_ball
        left 643px
    #big_ball
        left 662px
    #myModalForm .modal-dialog
        width: 560px
    .mail
        width: 380px
        font-size: 20px
        height 50px
        line-height: 50px
    .checking .check_label
        font-size: 14px
    .alert_message
        font-size: 19px
    button.close
        font-size: 36px
    #myPolitics .modal-title
    .link_for
        font-size: 24px
    #myPolitics .modal-body p
        font-size: 20px
    #for
        padding-bottom: 0
    .for_list_reason p
    .knowledge
        font-size: 22px
    #last h3
        margin-top: 160px
    .knowledge_container
        width: 100%
        height 200px
@media screen and (max-width 1199px)
    .knowledge_container
        width: 100%
    #for
        margin-bottom: -100px;
@media screen and (max-width 991px)
    #main
        padding 40px 0 70px
    #janna
        top: -65px;
        right: -64px;
        width: 300px;
    h1
        margin 30px 0
        font-size: 39px
    .button
        margin-top: 41px
    .for_container_first .for_img
    .for_container_second .for_img
        float: none
        margin:0 0 35px
        max-width 300px
        width: 100%
    .for_container_first
        margin-bottom: 35px
    #last
        padding-bottom: 50px
@media screen and (max-width 767px)
    #main
        background-image: none
        background-color: #F3F7FF
        text-align: center
    #for
        margin-bottom: 0
        padding 50px 0
    #last
        padding-top: 50px
        background-image: none
        background-color: #DF96C6
    #myModalForm .modal-dialog
        max-width: 465px;
        width: auto;
        margin: 10px auto 0;
    .pre
        margin 0 auto
    #janna
        position: relative
        display block
        margin 40px auto 0
        z-index 9
        top: auto
        right auto
        width 100%
        max-width 300px
    .for_container_first .for_img, .for_container_second .for_img
        margin 0 auto 35px
        display block
    #for h3
    #last h3
        max-width none
        text-align: center
    .knowledge_container_last
    .for_list_container_last
        margin-bottom: 0
    #myModalForm .modal-dialog
        max-width 95%
@media screen and (max-width 426px)
    #main
    #for
    #last
        padding 30px 0
    .pre
        font-size: 14px
    h1
        margin 20px 0
        font-size: 26px
    h2
        font-size: 16px
        margin-bottom: 20px
    .button
        width: 100%
        max-width 354px
        font-size: 12px
        height 50px
        line-height: 50px
        margin-top: 30px
    #for h3
    #last h3
        font-size: 26px
        margin-bottom: 30px
    .knowledge_container
        margin-bottom: 20px
    .for_list_container
    .knowledge_container
        display block
        height auto
    .knowledge_container
        padding 20px
    .for_list_img
        height 75px
        display block
        margin: 0 auto 20px
    .for_list_reason
    .knowledge
        text-align: center
        display block
        padding-left: 0
    .for_container_first .for_img, .for_container_second .for_img
        display: none
    .for_container_first
    .for_container_first .for_list
    .for_container_second .for_list
        margin 0
    .knowledge_img
        height 50px
        display block
        margin 0 auto 20px
    .mail
        width: 90%
        margin 30px auto 0
    .button_mail
        margin-top: 20px
    #link h1
        font-size: 26px
        margin 0 0 20px
    .link_for
        font-size: 18px
        word-break: break-all