#link
    background-color: #F3F7FF
    padding-top: 30px
    text-align: center
    h1
        font-size: 32px
        margin-bottom: 40px
.link_for 
    font-size: 20px
    color: #E09AC7
    text-decoration: underline
    &:focus
        color #E09AC7
        text-decoration: underline
    &:hover
        color #E09AC7
        text-decoration: none
.begin_date
    font-size: 18px
    margin-top: 40px
    span 
        font-weight: bold
#small_ball_post
    display block
    margin 30px auto 0