@font-face {
	font-family: 'intro';
	src: url('../fonts/intro.eot');
	src: url('../fonts/intro.eot') format('embedded-opentype'),
		 url('../fonts/intro.woff2') format('woff2'),
		 url('../fonts/intro.woff') format('woff'),
		 url('../fonts/intro.ttf') format('truetype'),
		 url('../fonts/intro.svg#intro') format('svg');
}
@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/RobotoRegular.eot');
	src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
		 url('../fonts/RobotoRegular.woff2') format('woff2'),
		 url('../fonts/RobotoRegular.woff') format('woff'),
		 url('../fonts/RobotoRegular.ttf') format('truetype'),
		 url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'MinionPro';
    src: url('../fonts/MinionPro.eot');
    src: url('../fonts/MinionPro.eot') format('embedded-opentype'),
         url('../fonts/MinionPro.woff2') format('woff2'),
         url('../fonts/MinionPro.woff') format('woff'),
         url('../fonts/MinionPro.ttf') format('truetype'),
         url('../fonts/MinionPro.svg#MinionPro') format('svg');
}

*
	margin 0
	padding 0
	outline none
body
	font-size: 18px;
	font-family: "RobotoRegular", sans-serif;
a
	color: #fefefe
	&:focus
		outline: 0
button
	border none
@import 'parts/main'
@import 'parts/for'
@import 'parts/last'
@import 'parts/post'
@import 'parts/medias'